---
import Layout from '../layout/Layout.astro';
import { supabase } from '../lib/supabase.js';
import Card from '../components/Card.astro';
const search = Astro.url.searchParams.get('txtBuscar')! || '';
const { data: product, error } = await supabase.from("product").select("*").filter('nombre', 'ilike', `%${search}%`);
const rutaimg="https://nxmsewmsmngxkuvpmrnh.supabase.co/storage/v1/object/public/tuzona/productos/";

---
<Layout>
	<div class="container">
		<h3 class="text-center py-5">{search}</h3>
		<div class="container">
			<div class="row">

				{
					product && product.map((item)=>(
						<Card producto={item} tipoCard="col-md-4 col-lg-3 col-xl-2 mb-4"/>
					))
				}
	
			</div>
		</div>	
	</div>
</Layout>

		

				
	

