---
import Layout from '../layout/Layout.astro';
---
<Layout>
	<div class="container">
		
		<div class="container py-5">
			<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
			  <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
				<h1 class="display-4 fw-bold lh-1 text-body-emphasis">Supabase</h1>
				<p class="lead">"¡Crea una aplicación escalable y segura con Supabase! Con nuestra base de datos remota y almacenamiento de imágenes en Supabase, junto con el modo server en el output de Astro y el adaptador Node para el deploy, tendrás todas las herramientas necesarias para desarrollar tu proyecto de forma eficiente. Supabase ofrece un plan gratuito perfecto para pruebas, y un plan PRO ideal para aplicaciones productivas y escalables. Únete a los más de 80 mil desarrolladores que han experimentado el crecimiento acelerado de Supabase. ¡Aprovecha al máximo tu tiempo y ahorra en inversión con Supabase!"</p>
				
			  </div>
			  <div class="col-lg-4 text-center">
				  <img class="img-fluid" src='supabase1.png' alt="Logo supabase">
			  </div>
			</div>
		  </div>
	</div>
</Layout>
<style>
		body{
			margin-top: 50px;
		}
</style>

		

				
	



