---
import { ViewTransitions } from 'astro:transitions';
import 'bootstrap/dist/css/bootstrap.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/supabase01/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<ViewTransitions/>
	</head>
	<body class="bg-light text-black-50">
		<Header/>
        <main transition:animate="slide">
            <slot/>
        </main>
		<Footer/>

    </body>
    <script src="bootstrap/dist/js/bootstrap.bundle.js"></script>
	
    </html>
	<style is:global>
		body{
			margin-top: 50px;
		}
		main{
			min-height: 80vh;
		}
		.card{
			transition: 0.6s; 
			box-shadow: 2px 2px 4px #2c2b2b;
			border-radius: 3px;
		}
		.card:hover{
			transform: scale(1.02); 
			cursor: pointer;
		}
	</style>